.loading {
    transition: opacity 0.3s ease-in;
    opacity: 0;
    will-change: opacity;
    position: fixed;
    height: 20px;
    width: 100%;
    left: 0;
    top: -10px;
    filter: blur(8px);
    background: red;
  }
  .loading[aria-busy="true"] {
    opacity: 1;
    transition-duration: 1s;
  }
  
  